//FEATURES SECTION
.features {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  padding-left: 10%;
  background-color: $color-very-light-gray;
  background-image: url(../images/bg-intro-desktop.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right -10rem top -7rem;

  display: flex;
  justify-content: space-between;
  overflow: hidden;

  @media only screen and (max-width: $bp-large) {
    background-size: 80%;
    background-position: right -10rem top -4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0 5%;
    background-image: url(../images/bg-intro-mobile.svg);
    background-position: right 0 top -5rem;
    background-size: 100%;

    display: flex;
    flex-direction: column-reverse;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 12rem;

    @media only screen and (max-width: $bp-largest) {
      margin-top: 6rem;
      width: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
      margin-top: -6rem;
      margin-bottom: 4.5rem;
      align-self: center;
      align-items: center;
    }
  }

  &__img {
  }

  &__mockup {
    width: 100%;
    transform: translate(6rem, -3.5rem);

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      transform: translate(1rem, -3.5rem);
    }

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
      transform: translate(1.5rem, -9.5rem);
    }
  }

  &__text {
    max-width: 28rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  }

  &__btn {
    align-self: flex-start;

    @media only screen and (max-width: $bp-medium) {
      align-self: center;
    }
  }
}

.heading {
  font-size: 2rem;
  color: black;
  font-weight: 400;
  margin-bottom: 1rem;
}

//ABOUT SECTION
.about {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background-color: $color-light-grayish-blue;
  padding: 4rem 10%;
  transition: transform 1s, opacity 1s;
  margin-top: -10rem;

  @media only screen and (max-width: $bp-larger) {
    margin-top: -6rem;
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 5%;
  }
}

.about-heading {
  margin-bottom: 3.5rem;

  &__text {
    @media only screen and (max-width: $bp-smaller) {
      text-align: center;
    }
  }
}

h2 {
  color: rgba($color: #000000, $alpha: 0.7);
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 300;

  @media only screen and (max-width: $bp-smaller) {
    text-align: center;
  }
}

.about-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 3rem 1.2rem;
}

.about-service {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-smaller) {
    align-items: center;
  }

  &__img {
    margin-bottom: 1.5rem;
  }

  &__heading {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &__text {
    @media only screen and (max-width: $bp-smaller) {
      text-align: center;
    }
  }
}

//BLOG SECTION
.blog {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  padding: 6rem 10% 3rem 10%;
  background-color: $color-very-light-gray;
  transition: transform 1s, opacity 1s;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 5% 2rem 5%;
  }
}

.blog-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 1.8rem;
  border-radius: 0.2rem;
}

.blog-content {
  background-color: $color-white;
  border-radius: 0.3rem;

  &__img {
    width: 100%;
    height: 10rem;
    border: none;
    border-radius: 0.3rem 0.3rem 0 0;

    @media only screen and (max-width: $bp-smaller) {
      height: 13rem;
    }
  }
}

.blog-writeup {
  padding: 0.8rem;

  &__text1 {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  &__heading {
    // font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 300;
    color: rgba($color: #000000, $alpha: 0.8);

    &:hover {
      color: $color-lime-green;
    }
  }

  &__text2 {
    font-size: 0.85rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(7rem);
}
